@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
}

body {
  font-family: "Jersey 10", serif;
  overflow: hidden;
  margin: 0;
}

html, body, #app {
  height: 100%;
  margin: 0;
}

/*
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    //padding: 0 2rem;
  }
}
*/
